$bgnavbar: #000033;
%padcontent{
    padding-left: 100px; 
    padding-right: 50px;
} 

.navbar{
    text-align: center;
    word-spacing: 30px;
    background-color: $bgnavbar;
    padding: 15px;

    a{
    color:white;
    }

    a:hover{
        background-color: grey;
        padding: 15px;
    }

}
.content{        
    @extend %padcontent;
    margin-right: 50px;
}

img{
    
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}